# App
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:changeme@postgres:5432/languee

# Redis client
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=changeme

# Auth
JWT_SECRET=replace-with-at-least-16-characters

# Swagger Basic Auth
BASIC_AUTH=admin
BASIC_PASSWORD=changeme
