# App
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:changeme@postgres:5432/languee

# Redis client
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=changeme

# Auth
JWT_SECRET=replace-with-at-least-16-characters
JWT_EXPIRES_IN=15m

# Swagger Basic Auth
BASIC_AUTH=admin
BASIC_PASSWORD=changeme

# NLP Service
LANGUEE_NLP_BASE_URL=http://languee-nlp:8000
LANGUEE_NLP_BASIC_AUTH_LOGIN=admin
LANGUEE_NLP_BASIC_AUTH_PASSWORD=changeme

# Logging
LOG_FORMAT=json
SERVICE_NAME=languee-back
PRINT_DEBUG_LOGS=false
PRINT_PRETTY_JSON_LOGS=false
